@model ShoppingCart.Application.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Task</h1>
<hr />
<div class="jumbotron p-4">
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
