@{ 
	ViewData["Title"] = "Index"; 
}

<div class="jumbotron">
	<h1>Welcome to the Homepage</h1>
</div>

<h2>Javascript Button</h2>
<button onclick="alertUser()" class="btn btn-primary">Ping</button>

<script>
	var _0x2989 = ['191CZQRsE', '3Wtijuc', '595472iQzxnk', '334341zhgcls', '2699GVvMsK', '1oyTFOf', '614297qtnhSs', '3379WOKZKJ', '509049JVfFsi', '267NPsChl', '97349wNlesg']; function _0x2750(_0x43f7fa, _0xa33a55) { _0x43f7fa = _0x43f7fa - 0x161; var _0x298961 = _0x2989[_0x43f7fa]; return _0x298961; } (function (_0x4ffa43, _0x25e0b7) { var _0xd35b7b = _0x2750; while (!![]) { try { var _0x4f575e = parseInt(_0xd35b7b(0x167)) + parseInt(_0xd35b7b(0x162)) + parseInt(_0xd35b7b(0x16b)) * -parseInt(_0xd35b7b(0x169)) + -parseInt(_0xd35b7b(0x163)) * parseInt(_0xd35b7b(0x168)) + parseInt(_0xd35b7b(0x166)) * -parseInt(_0xd35b7b(0x16a)) + parseInt(_0xd35b7b(0x164)) * parseInt(_0xd35b7b(0x165)) + parseInt(_0xd35b7b(0x161)); if (_0x4f575e === _0x25e0b7) break; else _0x4ffa43['push'](_0x4ffa43['shift']()); } catch (_0x512e7c) { _0x4ffa43['push'](_0x4ffa43['shift']()); } } }(_0x2989, 0x60752)); function alertUser() { alert('Pong'); }
</script>